@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


//Foreground Colors
$primary-color: #0d0d0d;
$secondary-color: #121212;

//Secondary Texts
$sub-heading: #DCDCDC;
$heading: #FFFFFE;
$text: #fffffe;
$muted-text: #ABABAB;

// Category Colors
$ds-color: #58ff73;
$ip-color: #58e1ff;
$gk-color:#fb6d06;

//font-family and font-weights
@mixin font-black()
{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

@mixin font-bold()
{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

@mixin font-medium()
{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

@mixin font-regular()
{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

@mixin flex-center()
{
  display: flex;
  justify-content: center;
  align-items: center;
}

//12px -> .75 rem
//16px -> 1rem
//21px -> 1.3 rem
//26px -> 1.625 rem
//42px -> 2.625 rem
//61px -> 3.813 rem

html
{
  @media (max-width:575.98px)
  {
    font-size: 90%;
  }
}

body
{
  background-color: #0d0d0d;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;


}

.container-fluid
{
  margin:0;
  padding: 0 !important;
}


//GLOBAL STYLING FOR NAVIGATION//

//sets the container of the main navigation to have 100% width

.inner-nav
{
  width: 100vw;
  @include flex-center();
  background-color: $secondary-color;
}

//80% width of inner-nav
.navbar
{

  width: 80%;
  height: auto;
  padding: 1.5rem 0;
  color: $text;

  .navbar-nav
  {
    background-color: $secondary-color;
    a{
      text-transform: uppercase;
    }
  }

  .active
  {
    text-decoration: underline;
  }

  a
  {
    font-size: 1rem;
    @include font-bold();

    color: $text;
  }

  .navbar-nav a:hover
  {
    color: $text !important;
  }

  .logo a:hover
  {
    color: $text;
    text-decoration: none;
  }

  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px)
  {
    width: 90%;
    margin: 0 10px;
    .navbar-toggler
    {
      margin-top: 1rem;
    }

  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px)
  {
    .navbar-nav
    {
      margin-top: 1.5rem;
      padding-top: 5px;
      padding-left: 1rem;
      background-color: $secondary-color;
      border-top: 2px solid $muted-text;
    }
  }



  .brand
  {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    @include font-black();
    .logo
    {
      padding: 10px;
      border: 2px solid #fffffe;
      margin-bottom: 0;
    }

    .logo-text
    {
      width: 20ch;
      padding-left: 1rem;
      margin: 0;
      font-size: 1rem;
    }

  }



}

//GLOBAL STYLING FOR NAVIGATION//




#hero
{
  width: 100vw;
  display: grid;
  place-items: center;
  padding-top: 2rem;

  /* Media Queries
  * @767.98px and 991.98px and below, The hero-carousel will have padding-top 0 to make it flush with the nav.
  *
  */

  // Small devices (landscape phones, less than 768px)
  @media (max-width:767.98px)
  {
    padding-top: 0;
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px)
  {
    padding-top: 0;
  }



}


.carousel-container
{


  width: 80%;
  background-color: $secondary-color;

  //Add additional height to indications
  li
  {
    height: 2px;
  }


  //Active State of indicators
  //Will add padding-top to distinguish active state
  .active
  {
    padding-top: 2px;
  }

  //At 767.98px width, carousel will span 100% of viewport
  // Small devices (landscape phones, less than 768px)
  @media (max-width:767.98px)
  {
    width: 100%;
  }

  //At 992px width, carousel will span 100% of viewport
  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px)
  {
    width: 100%;
  }


}


.carousel-item
{
  min-height: 45rem;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;

  @media (max-width:767.98px)
  {
    min-height: 35rem;
  }

  @media (max-width: 575.98px)
  {

    min-height: 25rem;

  }
}

.carousel-content
{
  position: absolute;
  bottom: 5rem;
  left: 0;
  right: 0;
  text-align: center;
  color: $text;
  h5
  {
    @include font-black();
    font-size: 2.625rem;
    margin-bottom: 2rem;

    @media (max-width:767.98px)
    {
      margin-bottom: 1rem;
    }
  }

  p
  {
    font-size: 1rem;
    @include font-regular();
    color: $muted-text;
    width: 70ch;
    margin: 0 auto 2rem auto;

    @media (max-width:767.98px)
    {
      width: auto;
    }
  }


  @media (max-width:767.98px)
  {
    bottom: 5rem;
    width: 90%;
  }

  .btn
  {
    background-color: $ds-color;
    font-size: 1rem;
    @include font-black();
    border-color: $ds-color;
    color: $primary-color;
  }
  .btn:hover
  {
    background-color: $muted-text;
    border-color: $muted-text;
  }
}
