@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
/*
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }
 */
@media (max-width: 575.98px) {
  html {
    font-size: 95%;
  }
}

body {
  background-color: #0d0d0d;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
}

.container-fluid {
  margin: 0;
  padding: 0 !important;
}

/* Start of Global Styling for Navigation Bar*/
.inner-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}

.navbar {
  width: 80%;
  height: auto;
  padding: 1.5rem 0;
  color: #fffffe;
}
.navbar .navbar-nav {
  background-color: #121212;
}
.navbar .navbar-nav a {
  text-transform: uppercase;
}
.navbar .active {
  text-decoration: underline;
}
.navbar a {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #fffffe;
}
.navbar .navbar-nav a:hover {
  color: #fffffe !important;
}
.navbar .logo a:hover {
  color: #fffffe;
  text-decoration: none;
}
@media (max-width: 575.98px) {
  .navbar {
    width: 90%;
    margin: 0 10px;
  }
  .navbar .navbar-toggler {
    margin-top: 1rem;
  }
}
@media (max-width: 991.98px) {
  .navbar .navbar-nav {
    margin-top: 1.5rem;
    padding-top: 5px;
    padding-left: 1rem;
    background-color: #121212;
    border-top: 2px solid #ABABAB;
  }
}
.navbar .brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.navbar .brand .logo {
  padding: 10px;
  border: 2px solid #fffffe;
  margin-bottom: 0;
}
.navbar .brand .logo-text {
  width: 20ch;
  padding-left: 1rem;
  margin: 0;
  font-size: 1rem;
}
.navbar .brand a {
  color: #fffffe;
}
.navbar .brand a:hover {
  color: #ABABAB;
}

/* End of Global Styling for Navigation Bar*/
/* Start of Homepage Styling*/
#hero {
  width: 100%;
  display: grid;
  place-items: center;
  padding-top: 2rem;
  /* Media Queries
  * @767.98px and 991.98px and below, The hero-carousel will have padding-top 0 to make it flush with the nav.
  *
  */
}
@media (max-width: 767.98px) {
  #hero {
    padding-top: 0;
  }
}
@media (max-width: 992px) {
  #hero {
    padding-top: 0;
  }
}
#hero .carousel-container {
  width: 80%;
}
#hero .carousel-container li {
  height: 2px;
}
#hero .carousel-container .active {
  padding-top: 2px;
}
@media (max-width: 767.98px) {
  #hero .carousel-container {
    width: 100%;
  }
}
@media (max-width: 992px) {
  #hero .carousel-container {
    width: 100%;
  }
}
#hero .carousel-item {
  min-height: 45rem;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
@media (max-width: 767.98px) {
  #hero .carousel-item {
    min-height: 35rem;
  }
}
@media (max-width: 575.98px) {
  #hero .carousel-item {
    min-height: 25rem;
  }
}
#hero .carousel-content {
  position: absolute;
  bottom: 5rem;
  left: 0;
  right: 0;
  text-align: center;
  color: #fffffe;
}
#hero .carousel-content h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2.625rem;
  margin-bottom: 2rem;
}
@media (max-width: 767.98px) {
  #hero .carousel-content h5 {
    margin-bottom: 1rem;
  }
}
#hero .carousel-content p {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ABABAB;
  width: 70ch;
  margin: 0 auto 2rem auto;
}
@media (max-width: 767.98px) {
  #hero .carousel-content p {
    width: auto;
  }
}
@media (max-width: 767.98px) {
  #hero .carousel-content {
    bottom: 5rem;
    width: 90%;
  }
}
#hero .carousel-content .btn {
  background-color: #58ff73;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  border-color: #58ff73;
  color: #0d0d0d;
}
#hero .carousel-content .btn:hover {
  background-color: #ABABAB;
  border-color: #ABABAB;
}

#home-featured {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}
#home-featured .featured-cards {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}
@media (min-width: 992px) {
  #home-featured .featured-cards {
    justify-content: center;
  }
}

.home-featured-container {
  width: 80%;
}
@media (max-width: 992px) {
  .home-featured-container {
    width: 80%;
  }
}
@media (max-width: 575.98px) {
  .home-featured-container {
    width: 90%;
  }
}
.home-featured-container h1 {
  color: #fffffe;
  font-size: 1.625rem;
  border-bottom: 1px solid #ABABAB;
  padding-bottom: 0.5rem;
}

.featured-cards-inner {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-column-gap: 1rem;
  max-height: 30vh;
  color: white;
  margin-top: 1rem;
  align-items: center;
  -webkit-box-orient: vertical;
}
.featured-cards-inner .featured-card-content .card-date {
  color: #ABABAB;
  font-size: 0.75rem;
}
.featured-cards-inner .featured-card-content .card-title a {
  color: #fffffe;
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
@media (max-width: 992px) {
  .featured-cards-inner .featured-card-content .card-title a {
    font-size: 1.625rem;
  }
}
.featured-cards-inner .featured-card-content .card-author {
  color: #dcdcdc;
  font-size: 0.75rem;
}
.featured-cards-inner .featured-card-img {
  height: 80px;
  width: 100px;
  background-size: cover;
  background-position: center;
}
@media (max-width: 992px) {
  .featured-cards-inner .featured-card-img {
    height: 90px;
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .featured-cards-inner .featured-card-img {
    height: 80px;
    width: 100px;
  }
}

#home-about {
  border-top: 0.5px solid rgba(255, 255, 255, 0.4);
}

.home-about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
@media (max-width: 767.98px) {
  .home-about-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.home-about-row {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767.98px) {
  .home-about-row {
    width: 90%;
  }
}

.home-about-col {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
@media (max-width: 767.98px) {
  .home-about-col {
    padding: 0;
  }
}
.home-about-col .home-about-inner {
  height: 100%;
  width: 80%;
}
@media (max-width: 767.98px) {
  .home-about-col .home-about-inner {
    width: 100%;
  }
}
.home-about-col .home-about-inner .home-about-inner-img {
  height: 25rem;
  width: 100%;
  background-image: url("img/Saly-21.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}
.home-about-col .home-about-inner .home-about-inner-text {
  padding: 2rem 0;
}
.home-about-col .home-about-inner .home-about-inner-text h1 {
  font-size: 2.063rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #FFFFFE;
  line-height: 52px;
  padding-bottom: 1rem;
}
.home-about-col .home-about-inner .home-about-inner-text p {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ABABAB;
  line-height: 27px;
}

.trivia-container {
  border-top: 0.5px solid rgba(255, 255, 255, 0.4);
  padding-top: 3rem;
  padding-bottom: 7rem;
}
@media (max-width: 767.98px) {
  .trivia-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.trivia-container h1 {
  font-size: 1.625rem;
  color: #fffffe;
  padding-bottom: 2rem;
}

.trivia-row {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .trivia-row .trivia-item {
    margin-bottom: 2rem;
  }
}

.trivia-box {
  width: 268px;
  height: 90px;
  background-color: #121212;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}
.trivia-box p:nth-child(1) {
  padding-top: 1rem;
  color: #dcdcdc;
  font-size: 12px;
  width: 210px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.trivia-box .emoji {
  position: absolute;
  bottom: -10px;
  right: 10px;
  font-size: 1.3rem;
}

/* End of Homepage Styling*/
/* Category Title Global Styling */
.cat {
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  line-height: 23px;
}

.cat-ds {
  color: #58ff73;
}

.cat-ip {
  color: #58e1ff;
}

.cat-gk {
  color: #fb6d06;
}

.footer {
  font-size: 0.75rem;
  background-color: #121212;
  color: #ABABAB;
}

/* Category Global Styling */
/* Start of Article Template Styling*/
.article-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.template-article-row {
  margin-top: 5rem;
  width: 100%;
}
@media (min-width: 1440px) {
  .template-article-row {
    width: 80%;
  }
}

.article-body {
  width: 80%;
  color: #fffffe;
}
.article-body .cat {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  line-height: 42px;
  text-decoration: underline;
  text-transform: uppercase;
}
@media (max-width: 1199.98px) {
  .article-body {
    width: 80%;
  }
}
@media (max-width: 575.98px) {
  .article-body {
    width: 100%;
    padding: 0;
  }
}
.article-body .article-header {
  width: 80%;
}
@media (max-width: 575.98px) {
  .article-body .article-header {
    width: 100%;
  }
}
.article-body .article-title {
  font-size: 2.625rem;
  line-height: 65px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-decoration: underline;
}
@media (max-width: 575.98px) {
  .article-body .article-title {
    width: 100%;
  }
}
.article-body .author-card {
  margin-bottom: 2rem;
  width: auto;
  padding: 2rem 2rem 2rem 0;
  height: 150px;
  border-radius: 2px;
  border-bottom: 1px solid #ABABAB;
}
.article-body .author-card .article-author-img {
  width: 64px;
  height: 64px;
  background-size: cover;
  background-image: url("img/hero-ip-carousel.png");
  background-position: center;
  border-radius: 33px;
}
.article-body .author-card ul {
  padding-bottom: 0;
  margin-bottom: 0;
}
.article-body .author-card .article-author a {
  font-size: 1rem;
  line-height: 27px;
  color: #dcdcdc;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.article-body .author-card .article-date {
  font-size: 0.75rem;
  color: #ABABAB;
}
.article-body .article-img {
  padding-top: 2rem;
  height: 20rem;
  max-width: 70ch;
  background-position: center;
  background-size: cover;
  margin-bottom: 3rem;
}
.article-body .article-content {
  min-width: auto;
  max-width: 70ch;
}
.article-body .article-content p {
  font-size: 1rem;
  line-height: 27px;
  color: #dcdcdc;
}

.article-sidebar {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin: 0 auto;
}
@media (max-width: 1199.98px) {
  .article-sidebar {
    width: 100%;
    align-items: end;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .article-sidebar {
    align-items: flex-end;
  }
}

.article-featured {
  width: 18rem;
}
.article-featured span {
  font-size: 1rem;
  color: #fffffe;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-decoration: underline;
}
@media (max-width: 992px) {
  .article-featured {
    width: 45%;
    margin-top: 0;
  }
}
@media (max-width: 767.98px) {
  .article-featured {
    width: 100%;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}
.article-featured .sidebar-featured {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-left: 1rem;
}
.article-featured .sidebar-featured .sidebar-img {
  width: 4rem;
  height: 3rem;
  margin-right: 1rem;
  background-size: cover;
  background-position: center;
}
.article-featured .sidebar-featured li a {
  color: #dcdcdc;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-decoration: underline;
}
.article-featured .sidebar-featured .more-resources li {
  color: #fffffe;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

/* Start of Article Template Styling*/
/* Start of Topic Page Styling*/
.topics-header {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-bottom: 2rem;
  border-bottom: solid 0.5px rgba(255, 255, 255, 0.5);
}
.topics-header h1 {
  font-size: 2.625rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #FFFFFE;
  width: 100%;
}
@media (min-width: 992px) {
  .topics-header h1 {
    width: 60%;
  }
}

.topic-cards {
  padding-bottom: 2rem;
  border-bottom: solid 0.5px rgba(255, 255, 255, 0.5);
  margin-bottom: 5rem;
}

.topic-card-header {
  width: 100%;
  background-color: #121212;
  padding: 1rem;
  margin: 2rem 0;
}
.topic-card-header h1 {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  width: 100%;
  line-height: 33px;
  margin: 0;
}
@media (min-width: 767.98px) {
  .topic-card-header h1 {
    width: 60%;
  }
}
.topic-card-header p {
  font-size: 1rem;
  color: #ABABAB;
  width: 100%;
  margin: 0;
  line-height: 27px;
}
@media (min-width: 767.98px) {
  .topic-card-header p {
    width: 60%;
  }
}

.topic-article-items {
  margin: 1rem;
  color: #fffffe;
  width: 300px;
}
@media (max-width: 767.98px) {
  .topic-article-items {
    width: 100%;
  }
}
.topic-article-items li:nth-child(3) {
  font-size: 0.75rem;
  color: #ABABAB;
}
@media (max-width: 767.98px) {
  .topic-article-items {
    width: 100%;
  }
}

.topic-article-title {
  height: auto;
  width: 250px;
  padding: 1rem 0;
}
@media (max-width: 767.98px) {
  .topic-article-title {
    width: 80%;
  }
}
.topic-article-title h1, .topic-article-title a {
  width: 250px;
  font-size: 1.3rem;
  padding-right: 1rem;
  color: #fffffe;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.topic-article-title .img-box {
  width: 61px;
  height: 55px;
  background-position: center;
  background-size: cover;
}

.topic-article-items p {
  width: 261px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  line-height: 27px;
}

/* End of Topic Page Styling*/
.team-container {
  width: 80%;
  margin: 8rem auto;
}
@media (max-width: 992px) {
  .team-container {
    width: 100%;
  }
}

.team-header {
  text-align: center;
  color: #fffffe;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 5rem;
}
@media (min-width: 992px) {
  .team-header {
    width: 60%;
  }
}

.team-box {
  width: 487px;
  margin: 2rem 0;
}
.team-box .team-img {
  background-position: center;
  width: 100%;
}
.team-box .team-content {
  width: 80%;
  height: auto;
}
.team-box .team-content li:nth-child(2) {
  font-size: 1.625rem;
  line-height: 33px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #fffffe;
}
.team-box .team-content li:nth-child(3) {
  color: #ABABAB;
  font-size: 0.75rem;
  line-height: 20px;
  padding-bottom: 1rem;
}
.team-box .team-content li:nth-child(4) {
  color: #fffffe;
  font-size: 1rem;
  line-height: 27px;
}
.team-box .team-content a:hover {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
