@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
/*
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }
 */
@media (max-width: 575.98px) {
  html {
    font-size: 90%;
  }
}

body {
  background-color: #0d0d0d;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
}

.container-fluid {
  margin: 0;
  padding: 0 !important;
}

.inner-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}

.navbar {
  width: 80%;
  height: auto;
  padding: 1.5rem 0;
  color: #fffffe;
}
.navbar .navbar-nav {
  background-color: #121212;
}
.navbar .navbar-nav a {
  text-transform: uppercase;
}
.navbar .active {
  text-decoration: underline;
}
.navbar a {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #fffffe;
}
.navbar .navbar-nav a:hover {
  color: #fffffe !important;
}
.navbar .logo a:hover {
  color: #fffffe;
  text-decoration: none;
}
@media (max-width: 575.98px) {
  .navbar {
    width: 90%;
    margin: 0 10px;
  }
  .navbar .navbar-toggler {
    margin-top: 1rem;
  }
}
@media (max-width: 991.98px) {
  .navbar .navbar-nav {
    margin-top: 1.5rem;
    padding-top: 5px;
    padding-left: 1rem;
    background-color: #121212;
    border-top: 2px solid #ABABAB;
  }
}
.navbar .brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.navbar .brand .logo {
  padding: 10px;
  border: 2px solid #fffffe;
  margin-bottom: 0;
}
.navbar .brand .logo-text {
  width: 20ch;
  padding-left: 1rem;
  margin: 0;
  font-size: 1rem;
}

#hero {
  width: 100%;
  display: grid;
  place-items: center;
  padding-top: 2rem;
  /* Media Queries
  * @767.98px and 991.98px and below, The hero-carousel will have padding-top 0 to make it flush with the nav.
  *
  */
}
@media (max-width: 767.98px) {
  #hero {
    padding-top: 0;
  }
}
@media (max-width: 992px) {
  #hero {
    padding-top: 0;
  }
}
#hero .carousel-container {
  width: 80%;
  background-color: #121212;
}
#hero .carousel-container li {
  height: 2px;
}
#hero .carousel-container .active {
  padding-top: 2px;
}
@media (max-width: 767.98px) {
  #hero .carousel-container {
    width: 100%;
  }
}
@media (max-width: 992px) {
  #hero .carousel-container {
    width: 100%;
  }
}
#hero .carousel-item {
  min-height: 45rem;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
@media (max-width: 767.98px) {
  #hero .carousel-item {
    min-height: 35rem;
  }
}
@media (max-width: 575.98px) {
  #hero .carousel-item {
    min-height: 25rem;
  }
}
#hero .carousel-content {
  position: absolute;
  bottom: 5rem;
  left: 0;
  right: 0;
  text-align: center;
  color: #fffffe;
}
#hero .carousel-content h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2.625rem;
  margin-bottom: 2rem;
}
@media (max-width: 767.98px) {
  #hero .carousel-content h5 {
    margin-bottom: 1rem;
  }
}
#hero .carousel-content p {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ABABAB;
  width: 70ch;
  margin: 0 auto 2rem auto;
}
@media (max-width: 767.98px) {
  #hero .carousel-content p {
    width: auto;
  }
}
@media (max-width: 767.98px) {
  #hero .carousel-content {
    bottom: 5rem;
    width: 90%;
  }
}
#hero .carousel-content .btn {
  background-color: #58ff73;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  border-color: #58ff73;
  color: #0d0d0d;
}
#hero .carousel-content .btn:hover {
  background-color: #ABABAB;
  border-color: #ABABAB;
}

#home-featured {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}
#home-featured .featured-cards {
  margin-top: 1rem;
}

.home-featured-container {
  width: 80%;
}
@media (max-width: 992px) {
  .home-featured-container {
    width: 80%;
  }
}
@media (max-width: 575.98px) {
  .home-featured-container {
    width: 90%;
  }
}
.home-featured-container h1 {
  color: #fffffe;
  font-size: 1.625rem;
  border-bottom: 1px solid #ABABAB;
  padding-bottom: 0.5rem;
}

.featured-cards-inner {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  grid-column-gap: 1rem;
  max-height: 30vh;
  color: white;
  margin-top: 1rem;
  -webkit-box-orient: vertical;
}
.featured-cards-inner .featured-card-content .card-date {
  color: #ABABAB;
  font-size: 0.75rem;
}
.featured-cards-inner .featured-card-content .card-title a {
  color: #fffffe;
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
@media (max-width: 992px) {
  .featured-cards-inner .featured-card-content .card-title a {
    font-size: 1.625rem;
  }
}
.featured-cards-inner .featured-card-content .card-author {
  color: #ABABAB;
  font-size: 0.75rem;
}
.featured-cards-inner .featured-card-img {
  background-color: #58ff73;
  height: 80px;
  width: 100px;
  background-size: cover;
  background-position: center;
}
@media (max-width: 992px) {
  .featured-cards-inner .featured-card-img {
    height: 90px;
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .featured-cards-inner .featured-card-img {
    height: 80px;
    width: 100px;
  }
}

/* Category Title Global Styling */
.cat {
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  line-height: 23px;
}

.cat-ds {
  color: #58ff73;
}

.cat-ip {
  color: #58e1ff;
}

.cat-gk {
  color: #fb6d06;
}

/* Category Global Styling */
.article-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.template-article-row {
  margin-top: 5rem;
  width: 80%;
}
@media (max-width: 575.98px) {
  .template-article-row {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .template-article-row {
    width: 100%;
  }
}
@media (max-width: 1199.98px) {
  .template-article-row {
    width: 80%;
  }
}

.article-body {
  width: 80%;
  color: #fffffe;
}
.article-body .cat {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  line-height: 42px;
  text-decoration: underline;
  text-transform: uppercase;
}
@media (max-width: 1199.98px) {
  .article-body {
    width: 80%;
  }
}
@media (max-width: 575.98px) {
  .article-body {
    width: 100%;
    padding: 0;
  }
}
.article-body .article-header {
  width: 80%;
}
@media (max-width: 575.98px) {
  .article-body .article-header {
    width: 100%;
  }
}
.article-body .article-title {
  font-size: 2.625rem;
  line-height: 65px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-decoration: underline;
}
@media (max-width: 575.98px) {
  .article-body .article-title {
    width: 100%;
  }
}
.article-body .author-card {
  margin-bottom: 2rem;
  width: auto;
  padding: 2rem 2rem 2rem 0;
  height: 150px;
  border-radius: 2px;
  border-bottom: 1px solid #ABABAB;
}
.article-body .author-card .article-author-img {
  background-color: #58ff73;
  width: 64px;
  height: 64px;
  background-size: cover;
  background-image: url("img/hero-ip-carousel.png");
  background-position: center;
  border-radius: 33px;
}
.article-body .author-card ul {
  padding-bottom: 0;
  margin-bottom: 0;
}
.article-body .author-card .article-author a {
  font-size: 1rem;
  line-height: 27px;
  color: #dcdcdc;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.article-body .author-card .article-date {
  font-size: 0.75rem;
  color: #ABABAB;
}
.article-body .article-img {
  padding-top: 2rem;
  height: 20rem;
  max-width: 70ch;
  background-position: center;
  background-size: cover;
  margin-bottom: 3rem;
}
.article-body .article-content {
  min-width: auto;
  max-width: 70ch;
}
.article-body .article-content p {
  font-size: 1rem;
  line-height: 27px;
  color: #dcdcdc;
}

.article-sidebar {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
@media (max-width: 992px) {
  .article-sidebar {
    margin-bottom: 3rem;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 767.98px) {
  .article-sidebar {
    margin-bottom: 3rem;
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
}

.article-featured {
  width: 20rem;
}
.article-featured span {
  font-size: 1.3rem;
  color: #fffffe;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-decoration: underline;
}
@media (max-width: 992px) {
  .article-featured {
    width: 45%;
    margin-top: 0;
  }
}
@media (max-width: 767.98px) {
  .article-featured {
    width: 100%;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}
.article-featured .sidebar-featured {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-left: 1rem;
}
.article-featured .sidebar-featured .sidebar-img {
  width: 4rem;
  height: 3rem;
  margin-right: 1rem;
  background-size: cover;
  background-position: center;
}
.article-featured .sidebar-featured li a {
  color: #dcdcdc;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-decoration: underline;
}
.article-featured .sidebar-featured .more-resources li {
  color: #fffffe;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
