@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/*
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }
 */

$mobile: 575.98px;
$landscape: 767.98px;
$laptop: 992px;
$desktop: 1199.98px;




//Foreground Colors
$primary-color: #0d0d0d;
$secondary-color: #121212;

//Secondary Texts
$heading: #FFFFFE;
$text: #fffffe;
$muted-text: #ABABAB;
$paragraph: #dcdcdc;
// Category Colors
$ds-color: #58ff73;
$ip-color: #58e1ff;
$gk-color:#fb6d06;

//font-family and font-weights
@mixin font-black()
{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

@mixin font-bold()
{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

@mixin font-medium()
{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

@mixin font-regular()
{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

@mixin flex-center()
{
  display: flex;
  justify-content: center;
  align-items: center;
}

//12px -> .75 rem
//16px -> 1rem
//21px -> 1.3 rem
//26px -> 1.625 rem
//42px -> 2.625 rem
//61px -> 3.813 rem

html
{
  @media (max-width:$mobile)
  {
    font-size: 95%;
  }
}

body
{
  background-color: #0d0d0d;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;


}

.container-fluid
{
  margin:0;
  padding: 0 !important;
}


/* Start of Global Styling for Navigation Bar*/

//sets the container of the main navigation to have 100% width

.inner-nav
{
  width: 100%;
  @include flex-center();
  background-color: $secondary-color;
}

//80% width of inner-nav
.navbar
{

  width: 80%;
  height: auto;
  padding: 1.5rem 0;
  color: $text;

  .navbar-nav
  {
    background-color: $secondary-color;
    a{
      text-transform: uppercase;
    }
  }

  .active
  {
    text-decoration: underline;
  }

  a
  {
    font-size: 1rem;
    @include font-bold();

    color: $text;
  }

  .navbar-nav a:hover
  {
    color: $text !important;
  }

  .logo a:hover
  {
    color: $text;
    text-decoration: none;
  }

  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: $mobile)
  {
    width: 90%;
    margin: 0 10px;
    .navbar-toggler
    {
      margin-top: 1rem;
    }

  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px)
  {
    .navbar-nav
    {
      margin-top: 1.5rem;
      padding-top: 5px;
      padding-left: 1rem;
      background-color: $secondary-color;
      border-top: 2px solid $muted-text;
    }
  }



  .brand
  {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    @include font-black();
    .logo
    {
      padding: 10px;
      border: 2px solid #fffffe;
      margin-bottom: 0;
    }

    .logo-text
    {
      width: 20ch;
      padding-left: 1rem;
      margin: 0;
      font-size: 1rem;
    }

  }



}


/* End of Global Styling for Navigation Bar*/


/* Start of Homepage Styling*/

//Hero Sytling (Carousel)
#hero
{
  width: 100%;
  display: grid;
  place-items: center;
  padding-top: 2rem;
  /* Media Queries
  * @767.98px and 991.98px and below, The hero-carousel will have padding-top 0 to make it flush with the nav.
  *
  */

  // Small devices (landscape phones, less than 768px)
  @media (max-width:$landscape)
  {
    padding-top: 0;
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: $laptop)
  {
    padding-top: 0;
  }

  .carousel-container
  {


    width: 80%;
    background-color: $secondary-color;

    //Add additional height to indications
    li
    {
      height: 2px;
    }


    //Active State of indicators
    //Will add padding-top to distinguish active state
    .active
    {
      padding-top: 2px;
    }

    //At 767.98px width, carousel will span 100% of viewport
    // Small devices (landscape phones, less than 768px)
    @media (max-width: $landscape)
    {
      width: 100%;
    }

    //At 992px width, carousel will span 100% of viewport
    // Medium devices (tablets, less than 992px)
    @media (max-width: $laptop)
    {
      width: 100%;
    }


  }


  .carousel-item
  {
    min-height: 45rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;

    @media (max-width:$landscape)
    {
      min-height: 35rem;
    }

    @media (max-width: $mobile)
    {

      min-height: 25rem;

    }
  }

  .carousel-content
  {

    position: absolute;
    bottom: 5rem;
    left: 0;
    right: 0;
    text-align: center;
    color: $text;
    h5
    {
      @include font-black();
      font-size: 2.625rem;
      margin-bottom: 2rem;

      @media (max-width:$landscape)
      {
        margin-bottom: 1rem;
      }
    }

    p
    {
      font-size: 1rem;
      @include font-regular();
      color: $muted-text;
      width: 70ch;
      margin: 0 auto 2rem auto;

      @media (max-width:$landscape)
      {
        width: auto;
      }
    }


    @media (max-width:767.98px)
    {
      bottom: 5rem;
      width: 90%;
    }

    .btn
    {
      background-color: $ds-color;
      font-size: 1rem;
      @include font-black();
      border-color: $ds-color;
      color: $primary-color;
    }
    .btn:hover
    {
      background-color: $muted-text;
      border-color: $muted-text;
    }
  }

}

//Homepage featured items
#home-featured
{

  @include flex-center();
  margin: 5rem 0;

  .featured-cards
  {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    @media (min-width: $laptop)
    {
     justify-content: center;
    }
  }
}
.home-featured-container
{
  width: 80%;

  @media (max-width: $laptop)
  {
    width: 80%;
  }
  @media (max-width: $mobile) {
    width: 90%;

  }

  h1
  {
    color: $text;
    font-size: 1.625rem;
    border-bottom: 1px solid $muted-text;
    padding-bottom: .5rem;
  }


}
.featured-cards-inner
{
  //background-color: #fb6d06;
  display: grid;
  grid-template-columns: .3fr 1fr;
  grid-column-gap: 1rem;
  max-height: 30vh;
  color: white;
  margin-top: 1rem;
  align-items: center;
  -webkit-box-orient: vertical;


  .featured-card-content
  {

    .card-date
    {
      color: $muted-text;
      font-size: .75rem;
    }


    .card-title a
    {
      color: $text;
      font-size: 1.25rem;
      @include font-medium();

      @media (max-width: $laptop)
      {
        font-size: 1.625rem;
      }


    }


    .card-author
    {
      color: $muted-text;
      font-size: .75rem;
    }


  }

  .featured-card-img
  {
    background-color: #58ff73;
    @media (max-width: $laptop)
    {
      height: 90px;
      width: 100%;
    }
    @media (max-width: $mobile)
    {
      height: 80px;
      width: 100px;

    }


    height: 80px;
    width: 100px;

    background-size: cover;
    background-position: center;

  }

}

//About Section
#home-about
{
  border-top: .5px solid rgba(255,255,255,.4);



}
.home-about-container
{
  @include flex-center();
  flex-direction: column;
  padding-top: 7rem;
  padding-bottom: 7rem;
  @media (max-width: $landscape)
  {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.home-about-row
{
  width: 100%;
  min-height: 60vh;
  @include flex-center();
  @media (max-width: $landscape)
  {
    width: 90%;
  }
}
.home-about-col
{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  @media (max-width: $landscape)
  {
    padding: 0;
  }


  .home-about-inner
  {
    height: 100%;
    width: 80%;
    @media (max-width: $landscape)
    {
      width: 100%;
    }

    .home-about-inner-img
    {
      height: 25rem;
      width: 100%;
      background-image: url("img/Saly-21.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 0;
      margin: 0;
    }


    .home-about-inner-text
    {
      padding: 2rem 0;
      h1
      {
        font-size: 2.063rem;
        @include font-medium();
        color: $heading;
        line-height: 52px;
        padding-bottom: 1rem;
      }
      p
      {
        font-size: 1rem;
        @include font-regular();
        color: $muted-text;
        line-height: 27px;
      }
    }
  }

}

//Trivia Section
.trivia-container
{
  border-top: .5px solid rgba(255,255,255,.4);
  padding-top: 3rem;
  padding-bottom: 7rem;
  @media (max-width: $landscape)
  {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  h1
  {
    font-size: 1.625rem;
    color: $text;
    padding-bottom: 2rem;
  }

}
.trivia-row
{
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  .trivia-item
  {
    @media (max-width: $landscape)
    {
      margin-bottom: 2rem;
    }
  }
}

.trivia-box
{
  width: 268px;
  height: 90px;
  background-color: $secondary-color;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  p:nth-child(1)
  {
    padding-top: 1rem;
    color: $paragraph;
    font-size: 12px;
    width: 210px;
    @include font-bold();
  }
  .emoji
  {
    position: absolute;
    bottom: -10px;
    right: 10px;
    font-size: 1.3rem;
  }
}
/* End of Homepage Styling*/

/* Category Title Global Styling */
.cat
{
  font-size: .75rem;
  @include font-black();
  line-height: 23px;
}
.cat-ds
{
  color: $ds-color;
}
.cat-ip
{
  color: $ip-color;
}
.cat-gk
{
  color: $gk-color;
}


.footer
{
  font-size: .75rem;
  background-color: $secondary-color;
  color: $muted-text;
}
/* Category Global Styling */



/* Start of Article Template Styling*/
//Article Contents
.article-container
{

  width: 80%;
  margin: 0 auto;
  @include flex-center();
}
.template-article-row
{
  margin-top: 5rem;
  width: 100%;
  @media (min-width: 1440px)
  {
    width: 80%;
  }

}
.article-body
{
  width: 80%;
  color: $text;

  .cat
  {
    font-size: 1rem;
    @include font-black();
    line-height: 42px;
    text-decoration: underline;
    text-transform: uppercase;
  }

  @media (max-width: $desktop)
  {
    width: 80%;
  }

  @media (max-width: $mobile)
  {
    width: 100%;
    padding: 0;
  }

  .article-header
  {
    width: 80%;
    @media (max-width: $mobile)
    {
      width: 100%;
    }
  }
  .article-title
  {
    font-size: 2.625rem;
    line-height: 65px;
    @include font-medium();
    text-decoration: underline;
    @media (max-width: $mobile)
    {
      width: 100%;
    }
  }

  .author-card
  {
    margin-bottom: 2rem;
    width: auto;
    padding: 2rem 2rem 2rem 0;
    height: 150px;
    border-radius: 2px;
    border-bottom: 1px solid $muted-text;


    .article-author-img
    {
      background-color: #58ff73;
      width: 64px;
      height: 64px;
      background-size: cover;
      background-image: url("img/hero-ip-carousel.png");
      background-position: center;
      border-radius: 33px;
    }

    ul
    {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .article-author a
    {
      font-size: 1rem;
      line-height: 27px;
      color: $paragraph;
      @include font-medium();

    }

    .article-date
    {
      font-size: .75rem;
      color: $muted-text;
    }

  }

  .article-img
  {
    padding-top: 2rem;
    height: 20rem;
    max-width: 70ch;
    background-position: center;
    background-size: cover;
    margin-bottom: 3rem;
  }

  .article-content
  {
    min-width: auto;
    max-width: 70ch;
    p
    {
      font-size: 1rem;
      line-height: 27px;
      color: $paragraph;
    }
  }


}

//Side bar
.article-sidebar
{
  
  @media (max-width: $desktop) {
    width: 100%;
    align-items: end;

  }

  @media (max-width: 1199px) and (min-width: 992px)
  {
    align-items: flex-end;
  }

    display:flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 0 auto;





}
.article-featured
{
  width: 18rem;

  span
  {
    font-size: 1rem;
    color: $text;
    @include font-bold();
    text-decoration: underline;
  }
  @media (max-width: $laptop)
  {
    width: 45%;
    margin-top: 0;
  }

  @media (max-width: $landscape)
  {
    width: 100%;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .sidebar-featured
  {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-left: 1rem;
    .sidebar-img
    {
      width: 4rem;
      height: 3rem;
      margin-right: 1rem;
      background-size: cover;
      background-position: center;
    }
    li a
    {
      color: $paragraph;
      font-size: 1rem;
      @include font-medium();
      text-decoration: underline;
    }

    .more-resources li
    {
      color: $text;
      font-size: .75rem;
      @include font-bold();
    }
  }



}
/* Start of Article Template Styling*/



/* Start of Topic Page Styling*/

.topics-header
{
  h1
  {
    font-size: 2.625rem;
    @include font-black();
    color: $heading;
    width: 100%;
    @media (min-width: $laptop)
    {
      width: 60%;
    }
  }


  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-bottom: 2rem;
  border-bottom: solid .5px rgba(255,255,255,.5);
}

.topic-cards
{
  padding-bottom: 2rem;
  border-bottom: solid .5px rgba(255,255,255,.5);
  margin-bottom: 5rem;
}

.topic-card-header
{
  width: 100%;
  background-color: $secondary-color;
  padding: 1rem;
  margin: 2rem 0;
  h1
  {
    font-size: 1.3rem;
    @include font-bold();
    width: 100%;
    line-height: 33px;
    @media (min-width: $landscape)
    {
      width: 60%;
    }
    margin: 0;
  }

  p
  {
    font-size: 1rem;
    color: $muted-text;
    width: 100%;
    @media (min-width: $landscape)
    {
      width: 60%;
    }

    margin: 0;
    line-height: 27px;
  }
}

.topic-article-items
{
  margin: 1rem;
  color: $text;
  width: 300px;

  @media (max-width: $landscape)
  {
    width: 100%;
  }

  li:nth-child(3)
  {
    font-size: .75rem;
    color: $muted-text;

  }

  @media (max-width: $landscape)
  {
    width: 100%;
  }


}
.topic-article-title
{

  height: auto;
  width: 250px;
  padding: 1rem 0;

  @media (max-width: $landscape)
  {
    width: 80%;
  }

  h1,a
  {
    width: 250px;
    font-size: 1.3rem;
    padding-right: 1rem;
    color: $text;
    @include font-medium();
  }

  .img-box
  {
    background-color: #fffffe;
    width: 61px;
    height: 55px;
    background-position: center;
    background-size: cover;

  }

}

.topic-article-items p
{
    width: 261px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    line-height: 27px;
}

/* End of Topic Page Styling*/